@import '../../styles/variables';
@import '../../styles/mixins';

.l-user-initials {
  &.--regular {
    @include CIRCLE_CONTAINER;
    color: $white;
    margin-right: $s2;
    flex-shrink: 0;
    font-size: $f8;
    font-weight: bold;
  }
  &.--small {
    @include CIRCLE_CONTAINER_SMALL;
    margin-right: $s1;
    flex-shrink: 0;
    font-size: 10px;
    font-weight: bold;
  }
}