@import '../../styles/variables';

.l-radio{
  position: relative;
  .__input {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
    &:hover {
      +.l-icon {
        color: $blue !important;
      }
    }
    +.l-icon {
      margin-right: $s1;
      transition: color 0.1s ease-in;
    }
    &:checked {
      +.l-icon {
        color: $blue !important;
      }
    }
  }
}