@import '../../styles/variables';

.l-popover {
  &__content {
    background: $white;
    max-height: 10rem;
    width: 200;
    overflow-y: scroll;
    position: absolute;
    left: 0;
    top: 3;
    box-shadow: $shadow;
    padding: $s1 0;
    border-top: 1px solid rgba(240, 240, 240, .7);
  }
}