@import '../../styles/variables';

.l-boolean-chip-group {
  display: flex;
  flex-wrap: wrap;
  .l-boolean-chip {
    margin-right: $s2;
    margin-bottom: $s1;
    &:first-child {
      margin-right: $s2;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}