@import '../../../styles/variables';

.password-validation {
  color: $white;
  font-size: $f4;
  margin: $s1 0 $s2 $s1;
  .__validation-row {
    line-height: $f9;
    .l-icon {
      border-radius: 100%;
      background: $white;
      margin-right: $s1;
    }
  }
  .--pass {
    color: $green;
  }
  .--fail {
    color: $red;
  }
  .--incomplete {
    color: $grey;
  }
}